/* Global styles */
/* CSS grid used for layout and responsiveness */
/* I have significant experience with Bootstrap but wanted to refresh my vanilla CSS */
.container {
  display: grid;
  grid-template-columns: 0.15fr 1fr 0.15fr;
  grid-template-rows: 0.2fr 0.1fr 0.1fr 1fr;
  text-align: center;
  min-width: 300px;
  background: linear-gradient(127.55deg, #4502d9 -44.16%, #000000 74.85%);
  color: #ffffff;
  height: 100vh;
}

/* Header styles */
.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  align-self: start;
  justify-self: center;
  margin-top: 2rem;
  font-family: "SF Pro Display";
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  display: flex;
}

.header p {
  margin-bottom: 0;
}

/* h1 styles */
.container h1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

/* search bar styles */
.searchBarContainer {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
  text-align: start;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #9a9a9a;
}

.searchBar {
  border: none;
  background: none;
  padding-left: 0.5rem;
}

/* school card styles */
.schoolCard {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  background: #282e3c;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: start;
  max-height: 76px;
}

.schoolCard:hover {
  background-color: #161921;
}

/* h2 within school card styles */
.h2Text {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  align-self: end;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

/* location text within school card styles */
.locationText {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #ffffff;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin-left: 0.5rem;
}

/* initial within school card styles */
.initialContainer {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
  padding-left: 1rem;
}

.initial {
  margin-bottom: 0;
  padding-top: 0.2rem;
  height: 54px;
  width: 54px;
  background: linear-gradient(127.55deg, #0224d9 -44.16%, #04002b 74.85%);
  border-radius: 50%;
}

/* Used a mobile-first design */
/* media query for necessary responsiveness styles */
@media only screen and (min-width: 768px) {
  /* Global styles */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.1fr 0.1fr 1fr;
  }

  /* School card styles */
  .schoolCard {
    grid-template-columns: 0.75fr 4fr;
    grid-template-rows: 1fr 1fr;
  }

  .h2Text {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  /* Header styles */
  .header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: start;
    justify-self: center;
    margin-top: 2rem;
    font-family: "SF Pro Display";
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    display: flex;
  }

  .header p {
    margin-bottom: 0;
  }
}
